<div class="trip">
  <%= link_to_unless_current "#{trip.has_driver ? 'Looking for' : 'Offering'} a ride", trip %>
  <%= "from #{trip.start_location.name} to #{trip.finish_location.name} on #{trip.departure} for $#{trip.cost}." %>
  <br /><br />
  
  Posted by: <%=  %>
</div>
