<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<div id="trip">
  <div id="title">
    <% if @trip.has_driver%>
      I'm looking for a ride!
    <% else %>
      I have an open seat in my car!
    <% end %>
  </div>

  <br />
  <table><tr>
    <td>
      From: <br />
      <span id="from"><%= @trip.start_location.name %></span>
    </td>
    <td>
      To: <br />
      <span id="to"><%= @trip.finish_location.name %></span>
    </td>
  </tr></table>
  By: <%= @trip.user.name %>  
</div>

<div id="map"></div>
