  <div id="stylizedSearch" class="myform">


  <form id="form1" name="form1" method="post" action="" align=center>

  <div >    
	<label>I am a...</label>
      <label for="choice">
      </label>
      <select name="choice" class="style-select">
        <option>Driver</option>
        <option>Rider</option>
      </select>
<p></p>
 </div>
	<leftcolumn>
	  <label>From</label>
	  <input class="tb" name="fromText" type="text" value="Middlebury" />   
	   <label>Depart</label>
	  <input class="tb" name="calendar" type="text" value="calendar" maxlength="20" />
	  <select name="from" class="style-select">
		  <option value="a">Anytime</option>
		  <option value="e">Early (4a-8a)</option>
		  <option value="m">Morning (8a-12p)</option>
		  <option value="afternoon">Afternoon (12p-5p)</option>
		  <option value="eve">Evening (5p-9p)</option>
		  <option value="night">Night (9p-12a)</option>
		  <option value="late">Late (12a-4a)</option>
	  </select>
	</leftcolumn>
        
	<leftcolumn>
		<label>To</label>
	 <input class="tb" name="toText" type="text" value="Boston" />
	 </leftcolumn>
         
     <rightcolumn>
        	<a href="#" class="button">Search</a>
         </rightcolumn>
     </form>
</div>
