<div >    
	<p class="word" align= center>
        I am a...
    </p>
  <form id="form1" name="form1" method="post" action="" align=center>
      <label for="choice">
      </label>
      <select name="choice" class="style-select">
        <option>Driver</option>
        <option>Rider</option>
      </select>
      </form>
      </div>
<div id="leftcolumn" height="200">
          <p class="word" align=left>From</p>
          <input class="tb" id="fromLocation" name="fromText" type="text" value="Middlebury" />    <p class="word">Depart</p>
          <input class="tb" name="calendar" type="text" value="calendar" maxlength="20" />
          <select name="from" class="style-select">
          <option value="a">Anytime</option>
          <option value="e">Early (4a-8a)</option>
          <option value="m">Morning (8a-12p)</option>
          <option value="afternoon">Afternoon (12p-5p)</option>
          <option value="eve">Evening (5p-9p)</option>
          <option value="night">Night (9p-12a)</option>
          <option value="late">Late (12a-4a)</option>
</select>
      	</div>
        
        <div id="leftcolumn" height="200">
        	<p class="word" align=left>To</p>
     	 <input class="tb" name="toText" type="text" value="Boston" />
         </div>
         
         <div id="rightcolumn" height="200">
                   <p class="word">&nbsp;</p>
        	<a href="#" class="button">Search</a>
         </div>

</div>
